body{
            background-image: url(../images/Rare-Disease-Image2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-color: rgb(0, 0, 0,0.5);
        }
