{% extends "layout.html" %}
{% block body %}
  	<div class=buttons>
  		<form action="/a" method="GET">
    		<button class="btn btn-outline" type="submit">A</button>
		</form>
		<form action="/b" method="GET">
    		<button class="btn btn-outline" type="submit">B</button>
		</form>
		<form action="/c" method="GET">
    		<button class="btn btn-outline" type="submit">C</button>
		</form>
		<form action="/d" method="GET">
    		<button class="btn btn-outline" type="submit">D</button>
		</form>
		<form action="/e" method="GET">
    		<button class="btn btn-outline" type="submit">E</button>
		</form>
		<form action="/f" method="GET">
    		<button class="btn btn-outline" type="submit">F</button>
		</form>
		<form action="/g" method="GET">
    		<button class="btn btn-outline" type="submit">G</button>
		</form>
		<form action="/h" method="GET">
    		<button class="btn btn-outline" type="submit">H</button>
		</form>
		<form action="/i" method="GET">
    		<button class="btn btn-outline" type="submit">I</button>
		</form>
		<form action="/j" method="GET">
    		<button class="btn btn-outline" type="submit">J</button>
		</form>
		<form action="/k" method="GET">
    		<button class="btn btn-outline" type="submit">K</button>
		</form>
		<form action="/l" method="GET">
    		<button class="btn btn-outline" type="submit">L</button>
		</form>
		<form action="/m" method="GET">
    		<button class="btn btn-outline" type="submit">M</button>
		</form>
		<form action="/n" method="GET">
    		<button class="btn btn-outline" type="submit">N</button>
		</form>
		<form action="/o" method="GET">
    		<button class="btn btn-outline" type="submit">O</button>
		</form>
		<form action="/p" method="GET">
    		<button class="btn btn-outline" type="submit">P</button>
		</form>
		<form action="/q" method="GET">
    		<button class="btn btn-outline" type="submit">Q</button>
		</form>
		<form action="/r" method="GET">
    		<button class="btn btn-outline" type="submit">R</button>
		</form>
		<form action="/s" method="GET">
    		<button class="btn btn-outline" type="submit">S</button>
		</form>
		<form action="/t" method="GET">
    		<button class="btn btn-outline" type="submit">T</button>
		</form>
		<form action="/u" method="GET">
    		<button class="btn btn-outline" type="submit">U</button>
		</form>
		<form action="/v" method="GET">
    		<button class="btn btn-outline" type="submit">V</button>
		</form>
		<form action="/w" method="GET">
    		<button class="btn btn-outline" type="submit">W</button>
		</form>
		<form action="/x" method="GET">
    		<button class="btn btn-outline" type="submit">X</button>
		</form>
		<form action="/y" method="GET">
    		<button class="btn btn-outline" type="submit">Y</button>
		</form>
		<form action="/z" method="GET">
    		<button class="btn btn-outline" type="submit">Z</button>
		</form>
  	</div>
{% endblock %}
